*.class
*.jar
config.log
config.status
TRIPS-stamp
TRIPS
/trips/src/*/TRIPS
/trips/src/util/cwc/TRIPS
MANIFEST.MF
/trips/src/Makefile
/trips/src/config/Makefile
/trips/src/config/defs.mk
/trips/src/config/*/Makefile
/trips/src/config/*/defs.mk
tabula-1.0.2-jar-with-dependencies.jar
PDFExtractor
.*.swp
old*
doc
